//color
$primary-color: #5a73fc;
$primary-color-light: #8e9efc;
$primary-color-dark: #1c3eff;
$cources-color-light1: #ffb900;
$cources-color-dark1: #ff7730;
$cources-color-light2: #55c57a;
$cources-color-dark2: #28b485;
$text-color: #777777;

// size
$fontSize: 10px;