
header{
    background-image: linear-gradient(54deg,rgba($primary-color,.85), rgba($primary-color,.95)), 
    url("https://quangtuan28200.github.io/myCV/assets/imgs/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;

    .header{
        &__nav{
            z-index: 1001;
            position: fixed;
            color: white;
            width: 100%;
            height: 7rem;
            top: 0;
            left: 0;
            transition: .5s;

            &.header__nav--active{
                background-color: white;
                box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .14);
                ul{
                    margin-top: 2.5rem;
                }
                a{
                    color: $text-color-light;
                    &::after{
                        background-color: $text-color-light;
                    }
                    &:hover{
                        color: $text-color;
                        &::after{
                            background-color: $text-color;
                            opacity: 1;
                        }
                    }
                    &.active{
                        color: $text-color !important;
                        &::after{
                            background-color: $text-color !important;
                            opacity: 1 !important;
                        }
                    }
                }
                .translate_wrapper{
                    display: none;
                }
            }

            .logo{
                color: white;
                font-size: 4rem;
                text-align: center;
                border: 3px solid;
                border-radius: 4px;
                transition: .4s ease;
                padding: 0 1rem;
                line-height: 1.2;
                letter-spacing: 4px;
                margin-right: 5rem;
            }
            ul{
                display: flex;
                align-items: center;
                margin-top: 5rem;
                transition: .3s;
                position: relative;
                li{
                    margin-right: 5rem;
                    a{
                        color: white;
                        text-transform: uppercase;
                        font-weight: 500;
                        position: relative;
                        line-height: 1;

                        &::after{
                            content: "";
                            position: absolute;
                            right: -8px;
                            bottom: -1px;
                            width: 7px;
                            height: 2px;
                            background-color: white;
                            opacity: 0;
                        }
                        &:hover{
                            &::after{
                                opacity: 1;
                            }
                        }
                    }
                }

                .translate_wrapper {
                    position: absolute;
                    right: 0;
                    .current_lang {
                        cursor: pointer;
                        // text-transform: uppercase;
                        overflow: hidden;
                        
                        span.fa {
                            font-size: 12px;
                            position: relative;
                            top: -1px;
                        }
                    }
                    .more_lang {
                        position: absolute;
                        top: 0;
                        right: 20px;
                        opacity: 0;
                        cursor: pointer;
                        display: none;
                        -webkit-transition: all .3s cubic-bezier(.25, 1.15, .35, 1.15);
                        -moz-transition: all .3s cubic-bezier(.25, 1.15, .35, 1.15);
                        -o-transition: all .3s cubic-bezier(.25, 1.15, .35, 1.15);
                        -ms-transition: all .3s cubic-bezier(.25, 1.15, .35, 1.15);
                        transition: all .3s cubic-bezier(.25, 1.15, .35, 1.15);
                        &.active {
                            opacity: 1;
                            top: 28px;
                        }
                        .lang.selected{
                            display: none;
                        }
                    }
                    &.active .more_lang {
                        display: block;
                    }
                    span.lang-txt {
                        font-weight: 500;
                    }
                }
            }
            
            &--cb{
                display: none;
            }

            &--btn{
                display: none;
                position: absolute;
                top: 0;
                left: -30px;
                width: 30px;
                height: 30px;
                background-color: $primary-color;
                border-bottom-left-radius: 4px;
                cursor: pointer;

                span{
                    &, &::after, &::before{
                        width: 16px;
                        height: 3px;
                        position: absolute;
                        background-color: white;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: .2s ease;
                    }
                    &::after, &::before{
                        content: "";
                    }
                    &::before{
                        top: 200%;
                    }
                    &::after{
                        top: -100%;
                    }
                }
            }
        }

        &__component{
            padding-top: 94px;
            color: white;

            &--cb{
                display: none;
            }

            &--btn{
                display: none;
                position: absolute;
                top: 0;
                right: -30px;
                width: 30px;
                height: 30px;
                text-align: center;
                background-color: $primary-color;
                border-bottom-right-radius: 4px;
                cursor: pointer;
            }
        }
        
        &__wrap{
            padding: 40px 0;
            display: flex;
        }

        &__avt{
            width: 30%;
            position: relative;
            img{
                position: absolute;
                top: 0;
                left: 0;
                height: 124%;
                transition: .2s;
                width: 100%;
                object-fit: cover;
                border-radius: 4px;
            }
        }

        &-profile{
            transition: .2s;
            width: 70%;
            padding-left: 40px;
            &__name{
                font-size: 4.4rem;
                font-weight: 500;
                margin-bottom: 10px;
                line-height: 5rem;
            }
            &__work{
                line-height: 2.4rem;
                margin-bottom: 32px;
            }
            &__contact{
                dt{
                    font-weight: 500;
                    text-transform: uppercase;
                    opacity: .4;
                    float: left;
                }
                dd{
                    padding-left: 32px;
                    margin-bottom: 15px;
                    a{
                        color: white;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            &__social{
                display: flex;
                a{
                    font-size: 2.4rem;
                    margin-right: 15px;
                    opacity: .4;
                    color: white;
                    transition: .4s ease;
                    i{
                        font-size: inherit;
                    }

                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }
}