main{
    .wide{
        padding-left: 285px;
        padding-right: 83px;
        padding-top: 80px;
    }
}

#hello{
    padding: 60px 0;
}

hr{
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

#resume{
    padding: 60px 0;
}